<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <title>MBTI Compatibility</title>
  </head>
  <body>
    <div class="container my-5">
      <h1 class="text-center mb-4">MBTI Compatibility Calculator</h1>
      <div class="row justify-content-center">
        <div class="col-md-6">
          <form action="/" method="POST">
            <div class="mb-3">
              <label for="mbti1" class="form-label">MBTI 1:</label>
              <input type="text" class="form-control" id="mbti1" name="mbti1" required>
            </div>
            <div class="mb-3">
              <label for="mbti2" class="form-label">MBTI 2:</label>
              <input type="text" class="form-control" id="mbti2" name="mbti2" required>
            </div>
            <button type="submit" class="btn btn-primary w-100">Calculate Compatibility</button>
          </form>
          {% if compatibility != None %}
            <h2 class="text-center mt-4">Compatibility: {{ compatibility|round(2) }}%</h2>
          {% endif %}
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" crossorigin="anonymous"></script>
  </body>
</html>
